    * {
        margin: 0;
        padding: 0;
    }

    /* Navbar Start */
    .home-icon {
        background-color: #0017FF;
        color: white;
        padding: 9px;
        border-radius: 50%;
        color: white;
        margin-left: 12px;
    }

    .deep-thought-logo img {
        /* position: absolute; */
        margin-top: 12px;
    }

    nav {
        background-color: #F0F0F0;
        height: 7vh;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        /* margin-top: -12px; */
    }

    .nav-ul {
        display: flex;
        justify-content: flex-end;
        margin-top: -40px;
        cursor: pointer;
    }

    /* NavBar End */


    /* Management Starts */
    .management {
        display: flex;
        margin-top: 12px;
    }

    .heading {
        font-weight: 900;
        width: 670vw;
        margin-left: 5%;
    }

    .heading h1 {
        margin-left: 15%;
    }

    .mg-btn {
        background-color: #0017FF;
        color: white;
        padding: 10px;
        border: none;
        position: absolute;
        left: 88%;
        border-radius: 12px;
    }

    .des-box h1 {
        color: black;
        /* margin-left: ; */
        /* border: none; */

    }

    .des-box {
        background-color: #f9f9f9;
        padding: 20px;
        width: 74vw;
        margin: 10px auto;
        margin-top: 42px;
        border: 1px solid #ddd;
        border-radius: 12px;
    }

    /* Management Ends */


    /* Left Sidebar */
    .left-sidebar {
        background-color: white;
        width: 19vw;
        height: 50vh;
        min-height: 50vh;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        color: white;
        position: absolute;
        top: -2%;
        border-radius: 13px;
    }

    .left-sidebar i {
        margin-left: 50%;
    }

    .journey {
        background-color: black;
        padding: 10px;
    }

    .left-sidebar-li {
        color: black;
        margin-left: 22px;
    }

    .left-sidebar-ul {
        list-style: disc;
    }

    .sidebar {
        position: absolute;
        /* top: 7%; */
        left: 0;
        margin-top: 4%;
        transition: left 0.5s ease;
    }

    .sidebar.closed {
        left: -200px;
    }

    #left-close-right,
    #left-close {
        position: absolute;
        right: 5%;
        top: 1%;
        width: fit-content;
    }

    #left-close-right {
        display: none;
    }


    /* Notice Board */
    .notice-board {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        width: 3vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        position: absolute;
        right: 0%;
        top: 12%;
        /* border-radius: 12px; */
        background: white;
    }

    .black {
        background-color: black;
        border-radius: 12px;
        color: #ddd;
        width: 1.6vw;
    }

    .black i {
        margin-bottom: 10px;
        margin-top: 12px;
    }

    /* Notice Board Ends */

    /* Main Section */
    .main-section {
        display: grid;
        justify-content: center;
        /* grid-template-columns: repeat(1fr,2); */
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: 10px; Gap between the divs */
        width: 80vw;
        /* Adjust width as needed */
        height: 100vh;
        margin-right: 12px;
        margin: auto;
        border-radius: 12px;
        /* border: 2px solid; */
        margin-top: 12%;
    }

    .cards {
        /* margin-left:20%; */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        width: 35vw;
        border-radius: 12px;
        height: 100vh;
    }

    #card1,
    #card2 {
        /* border: 2px solid red; */
        background-color: white;
        display: flex;
        text-align: center;
        color: white;
    }

    #card1 p,
    #card2 p {
        /* border: 2px solid red; */
        /* background-color: black; */
        position: absolute;
        width: 35vw;
        height: 5vh;
        border-radius: 12px;
        padding-top: 9px;
    }

    #card1 i {
        position: absolute;
        padding-top: 12px;
        left: 42%;
    }


    .card1-head,
    .card2-head {
        background-color: black;
    }

    #card1-des,
    #card2-des {



        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

        margin-top: 10%;
        color: black;

    }

    #card1-des p,
    #card2-des p {
        width: 27vw;
        margin: auto;
    }

    .video-container {
        position: absolute;
        margin-top: 8%;
        width: 3vw;
    }

    .video-container iframe {
        margin-top: 18px;
        width: 35vw;
        height: 40vh;
    }

    .card2-i {
        position: absolute;
        left: 82%;
        margin-top: 12px;
    }

    .thread,
    .thread2 {
        position: absolute;
        display: flex;
        margin-top: 9%;
        color: black;
        width: 35%;
        background-color: #FDFDF7;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .thread p {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        background-color: #FDFDF7;
    }

    .sub-threads {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-top: 32%;
        margin-left: 12px;
        width: 12vw;
        height: fit-content;
    }

    .sub-threads {
        color: black;
        border-radius: 12px;
        background-color: #F0F0F0;
    }

    .subthread-1 {
        margin-top: 40px;
        height: 20vh;
        background-color: rgb(255, 255, 255);

        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .subthread-1 span {
        position: absolute;
        margin-top: -29px;
        margin-left: 20px;
    }

    .subthread-1 textarea {
        border: none;
    }

    .btn {
        display: inline-block;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        margin-top: 12px;
        position: absolute;
        padding: 5px 5px 0 0;

    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top-color: black;
    }

    .title,
    .content {
        position: absolute;
        margin-top: 9%;
        color: black;
        margin-left: 3%;
        text-align: start;
    }

    .blank {
        width: 30vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        height: 6vh;
        background-color: white;
    }

    .content {
        margin-top: 16%;

    }

    .big {
        height: 50vh;
    }

    .title-icon {
        margin-top: 12px;
        margin-left: 12px;
    }

    .sub-blank {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        margin-top: 12px;
        }
        
        .intro-des,
        .intro-des2 {
            position: absolute;
        margin-top: 9%;
        color: black;
        text-align: justify;
        margin-left: 12px;
        }
        
        .see-more,
        .see-more2 {
            position: absolute;
            margin-top: 22px;
            right: 10px;
            color: black;
            }
            
            .see-more {
                right: -160px;
                }
                
                .subthread-least {
                    height: 23vh;
                    }
                    
                    .sub {
                        margin-top: 34%;
                        background-color: #F0F0F0;
                        border-radius: 12px;
                        margin-left: 12px;
                        width: 36vw;
                        position: absolute;
                        }
                        
                        .subthread-least textarea {
        margin-top: 12px;
        border: none;
        background-color: white;
        height: 23vh;
        width: 33vw;
        border-radius: 12px;
        margin-left: 12px;
        }
        /* Card ends */
        
        
        /* Last icon */
        .last-icon {
            position: fixed; /* Position the container relative to the viewport */
            bottom: 20px; /* Distance from the bottom of the viewport */
            right: 20px; /* Distance from the right of the viewport */
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        .last-icon i {
            border: 2px solid black;
            width: fit-content;
            border-radius: 50px;
            margin-bottom: 12px;
            padding: 20px;
            background-color: blue;
            border: none;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
            color: white;
        }
        